$primary-font-family: 'Raleway', sans-serif;
$font-family: $primary-font-family;

$primary-color: #ffffff;
$color: $primary-color;

$secondary-color: #262626;
$color: $secondary-color;

$breakpoints: (
  sm: 576px
);